.corpotodo{
    position: relative;
    width: 100%;
    height: 610px;
    position: absolute;
    width: 100%px;
    background: #d4e851;
    background: -webkit-linear-gradient(bottom, rgb(16, 114, 7), rgba(30, 197, 15, 0.45), rgb(3, 231, 21));
    background: -o-linear-gradient(bottom, rgb(16, 114, 7), rgba(30, 197, 15, 0.38), rgb(3, 231, 21));
    background: -moz-linear-gradient(bottom, rgb(16, 114, 7),rgb(30, 197, 15), rgb(3, 231, 21));
    background: linear-gradient(bottom, rgb(16, 114, 7), rgba(30, 197, 15, 0.4), rgb(3, 231, 21)); 
    opacity: 0.8;
    background-image: url('imagens/teste1.png');

    
}
.partePrincipal{
    position: absolute;
    width: 1168px;
    height: 351px;
    left: 92px;
    top: 266px;
    

}
.quadradoEstoque{
    position: absolute;
    width: 277px;
    height: 351px;
    left: 92px;
    top: 25px;

}

.quadradoFinanceiro{
    position: absolute;
    width: 270px;
    height: 250px;
    left: 349px;
    top: 25px;
    background-color: chartreuse;

}

.Financeiro{
    position: absolute;
    width: 227px;
    height: 73px;
    left: 22px;
    top: 170px;

}
.iconFin{
    position: absolute;
    width: 206px;
    height: 231px;
    left: 1014px;
    top: 289px;
}

.quadradoInsumos{
    position: absolute;
    width: 277px;
    height: 351px;
    left: 686px;
    top: 25px;
}
.quadradoSafra{
    position: absolute;
    width: 277px;
    height: 351px;
    left: 983px;
    top: 25px;
}

