.corpotodo{
    width: 100%;
    margin: 0 auto;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    color: -internal-root-color;
}
